/* #counters {
  float: left;
} */

.background {
  background: url=("images/galaxy-rs.jpg")
}
/*.master-container {
  position: relative;
}

#master-crystal {
  position: absolute;
}

#master-crystal-val {
  z-index: 99;
  position: absolute;
  margin-top:
}