.row {
  margin-top: 50px;
}

.card-deck {
  margin-top: 50px;
}

#master-value-text {
  font-size: 90px;
  font-weight: 900;
  margin-top: -180px;
  color: white;
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(42, 42, 156), 0 0 5px darkblue;
}